.blue { color: blue; }

.green { color: green; }

canvas { border: 1px solid #ddd; }

/* input[type="text"] { min-width: 80px; } */

form { border: 1px solid #ddd; margin-bottom: 0.2em; }

#show_explanations {
    margin: 2px; 
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#explanations {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 3px;
    display: none;
}

fieldset {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
