.blue { color: blue; }

.green { color: green; }

canvas { border: 1px solid #ddd; }


body {
    background-color: #eeeeee;
}
.tab-content{
    background-color: #ffffff;
    padding: 1em;
    border-radius: 3px;
}
#show_explanations {
    margin: 2px; 
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#explanations {
    margin-bottom: 3px;
    display: none;
    text-align: justify;
}

fieldset {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
