.blue { color: blue; }

.green { color: green; }

input[type="text"] { width: 80px; }

canvas { border: 1px solid black; margin: 3px; }

form { float: left; border: 1px solid black; margin: 3px; }

#show_explanations {
    margin: 2px; 
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#explanations {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 3px;
    display: none;
}
